:root{
--base03: #002b36;
--base02: #073642;
--base01: #586e75;
--base00: #657b83;
--base0: #839496;
--base1: #93a1a1;
--base2: #eee8d5;
--base3: #fdf6e3;
--yellow: #b58900;
--orange: #cb4b16;
--red: #dc322f;
--magenta: #d33682;
--violet: #6c71c4;
--blue: #268bd2;
--cyan: #2aa198;
--green: #859900;
}
html {
  color: var(--base00);
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
    background-color: var(--base2);
    color: var(--base01);
}

body{
  display: block;
  margin: 8px;
  background-color: var(--base3);
}
.body a {
  color: var(--base1);
}
.body a:hover {
  color: var(--base02);
  background-color: var(--base3);
}

::selection {
  background: var(--base03);
  color: var(--base0);
}

p {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 3px dotted var(--orange);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--orange);
  color: var(--base01);
  margin: 0;
  padding-left: 1em;
}

ol {
  font-family: 'Fira Sans', sans-serif;
}
ul {
  list-style: none;
  padding-left: 2ch;
  font-family: 'Fira Sans', sans-serif;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

/* Images */
img {
  border: 3px solid var(--base02);
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  background-color: var(--base2);
  padding: .1em .2em;
}

pre {
  background-color: var(--base2);
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(253, 246, 227, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 2.5em;
}

header .main {
  font-size: 1.5rem;
  color: var(--orange);
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-top: 2em;
  color: var(--orange);
}

h1::before { color: var(--base03); content: '# '; }
h2::before { color: var(--base03); content: '## '; }
h3::before { color: var(--base03); content: '### '; }
h4::before { color: var(--base03); content: '#### '; }
h5::before { color: var(--base03); content: '##### '; }
h6::before { color: var(--base03); content: '###### '; }

.meta {
  color: var(--base0);
  letter-spacing: -0.5px;
}

.toc {
  background-color: var(--base2);
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  display: inline-block;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  border-top: 0.4rem double var(--orange);
  padding: 2rem 0rem;
  margin-top: 2rem;
}
.soc {
  display: flex;
  align-items: center;
}
.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}
.footer-info {
  padding: var(--footer-padding);
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  color: var(--base01);
}

/* Posts */
article .title {
  margin-bottom: 1em;
}


/* Callout */
.callout {
  background-color: var(--cyan);
  color: var(--base03);
  padding: 1em;
}

.callout p {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

.callout a:hover {
  background-color: var(--base02);
  color: var(--base3);
}

.site-description {
  display: flex;
  justify-content: space-between;
}
.tags li::before{
  content: "🏷 ";
}
.tags a{
  color: var(--base1);
}
.tags a:hover{
  color: var(--base03);
  background-color: var(--base2);
}
nav svg{
  max-height: 15px;
}
footer svg{
  max-height: 15px;
}
.soc:hover{
  color: var(--base03);
}
.draft-label{
  color: var(--orange);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--base2);
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background-color: var(--base2);
  border-radius: 0 0 0.25rem 0.25rem;
  color: var(--base03);
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background-color: var(--base2);
  color: var(--base03);
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background-color: var(--base2);
  color: var(--base03);
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background-color: var(--base2);
  color: var(--base03);
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background-color: var(--base2);
  color: var(--base03);
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background-color: var(--base2);
  color: var(--base03);
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background-color: var(--base2);
  color: var(--base03);
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background-color: var(--base2);
  color: var(--base03);
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background-color: var(--base2);
  color: var(--base03);
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  border: 1px dotted var(--base02);
}

table td{
  padding: 6px 13px;
  border: 1px dotted var(--base02);
}
